/* Header CSS Start */
header {
    background: url(../images/header/3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 30px;
}
header h1 {
    font-size: 58px;
}
header .category p {
    font-size: 14px;
}
header .image {
    max-width: 400px;
}
header .image img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 38px;
    }
    header p {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 576px) {
    header {
        padding: 120px 0 50px;
    }
    header p {
        font-size: 12px !important;
    }
}
/* Header CSS End */


/* Services CSS Start */
.service {
    padding: 100px 0;
}
.service h1 {
    font-size: 48px;
}
@media screen and (max-width: 768px) {
    .service {
        padding: 60px 0;
    }
    .service h1 {
        font-size: 38px;
    }
    .service h4 {
        font-size: 22px;
    }
    .service p {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    .service {
        padding: 38px 0;
    }
    .service h1 {
        font-size: 24px;
    }
    .service h4 {
        font-size: 20px;
    }
    .service p {
        font-size: 12px;
    }
}
/* Services CSS End */


/* Our Experts CSS Start */
.team {
    padding: 100px 0;
    background-color: #ff78511a;
}
.team .social li a {
    width: 34px;
    transition: 0.4s;
}
.team .social li a:hover {
    color: #fff !important;
    background-color: #ff7851 !important;
}
@media screen and (max-width: 768px) {
    .team {
        padding: 60px 0;
    }
    .team .headline p, .team .item p {
        font-size: 14px;
    }
    .team .headline h1 {
        font-size: 38px;
    }
    .team .item h6 {
        font-size: 16px;
    }
}
@media screen and (max-width: 576px) {
    .team {
        padding: 38px 0;
    }
    .team .headline p, .team .item p {
        font-size: 12px;
    }
    .team .headline h1 {
        font-size: 24px;
    }
    .team .item h6 {
        font-size: 14px;
    }
}
/* Our Experts CSS End */


/* Contact Us CSS Start */
.contact {
    padding: 100px 0;
}
.contact .headline {
    max-width: 491px;
}
.contact .info {
    background-color: #ff7851;
    padding: 40px;
}
.contact .info .icon {
    width: 64px;
    height: 64px;
}
.contact form {
    background-color: #4786ee4d;
    padding: 27px;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 60px 0;
    }
    .contact .headline h1 {
        font-size: 38px;
    }
    .contact .headline p, .contact .info p, .contact form .input_group input, .contact form .input_group textarea {
        font-size: 14px;
    }
    .contact .info h5 {
        font-size: 16px;
    }
    .contact .info {
        padding: 36px;
    }
    .contact .info .icon {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 38px 0;
    }
    .contact .headline h1 {
        font-size: 24px;
    }
    .contact .headline p, .contact .info p, .contact form .input_group input, .contact form .input_group textarea {
        font-size: 12px;
    }
    .contact .info h5 {
        font-size: 14px;
    }
    .contact .info {
        padding: 28px;
    }
    .contact .info .icon {
        width: 46px;
        height: 46px;
    }
}
/* Contact Us CSS End */