/* Header CSS Start */
header {
    background: url(../images/header/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0 80px;
}
header h1, header .achievement h2 {
    font-size: 58px;
}
header .achievement {
    padding-top: 100px;
}
@media screen and (max-width: 768px) {
    header {
        padding: 110px 0 40px;
    }
    header h1, header .achievement h2 {
        font-size: 38px;
    }
    header .achievement {
        padding-top: 60px;
    }
    header p {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 576px) {
    header h1, header .achievement h2 {
        font-size: 24px;
    }
    header .achievement {
        padding-top: 50px;
    }
    header p {
        font-size: 12px !important;
    }
}
/* Header CSS End */


/* Services CSS Start */
.service {
    padding: 100px 0;
}
.service .item {
    padding: 40px;
}
.service .item .icon {
    width: 82px;
    height: 82px;
}
.service .item .icon img {
    width: 62px;
}
.service .one {
    background-color: #4786ee33;
}
.service .one .icon {
    background-color: #4786ee;
}
.service .two {
    background-color: #ff785133;
}
.service .two .icon {
    background-color: #ff7851;
}
.service .three {
    background-color: #8859e633;
}
.service .three .icon {
    background-color: #8859e6;
}
@media screen and (max-width: 768px) {
    .service {
        padding: 60px 0;
    }
    .service h1 {
        font-size: 38px;
    }
    .service h3 {
        font-size: 22px;
    }
    .service p {
        font-size: 14px;
        line-height: 24px !important;
    }
    .service .item {
        padding: 30px;
    }
}
@media screen and (max-width: 576px) {
    .service {
        padding: 38px 0;
    }
    .service h1 {
        font-size: 24px;
    }
    .service h3 {
        font-size: 18px;
    }
    .service p {
        font-size: 12px;
        line-height: 20px !important;
    }
    .service .item {
        padding: 28px;
    }
}
/* Services CSS End */


/* About Us CSS Start */
.about {
    padding: 100px 0;
    background-color: #ff78511a;
}
.about ul li i {
    color: #4786ee;
}
@media screen and (max-width: 768px) {
    .about {
        padding: 60px 0;
    }
    .about h1 {
        font-size: 38px;
    }
    .about p, .about ul li {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    .about {
        padding: 38px 0;
    }
    .about h1 {
        font-size: 24px;
    }
    .about p, .about ul li {
        font-size: 12px;
    }
}
/* About Us CSS End */


/* Why Choose Us CSS Start */
.wcu {
    padding: 100px 0;
}
.wcu .wrapper .image img {
    width: 160px;
}
.wcu ul li .point h6 {
    background-color: #ff7851;
    width: 36px;
    height: 36px;
}
.wcu ul li .point .blue {
    background-color: #4786ee;
}
.wcu .brands {
    margin-top: 100px;
}
.wcu .brands .logo img {
    width: 140px;
}
@media screen and (max-width: 768px) {
    .wcu {
        padding: 60px 0;
    }
    .wcu h1 {
        font-size: 38px;
    }
    .wcu p, .wcu ul li, .wcu .btn_three a {
        font-size: 14px;
    }
    .wcu .brands {
        margin-top: 60px;
    }
}
@media screen and (max-width: 576px) {
    .wcu {
        padding: 38px 0;
    }
    .wcu h1 {
        font-size: 24px;
    }
    .wcu p, .wcu ul li, .wcu .btn_three a {
        font-size: 12px;
    }
    .wcu .brands {
        margin-top: 50px;
    }
}
/* Why Choose Us CSS End */


/* Testimonial CSS Start */
.testimonial {
    padding: 100px 0;
    background-color: #8559e61a;
}
.testimonial .icon img {
    width: 100px;
}
@media screen and (max-width: 768px) {
    .testimonial {
        padding: 60px 0;
    }
    .testimonial p {
        font-size: 14px;
    }
    .testimonial h3 {
        font-size: 22px;
    }
    .testimonial h4 {
        font-size: 20px;
    }
}
@media screen and (max-width: 576px) {
    .testimonial {
        padding: 38px 0;
    }
    .testimonial p {
        font-size: 12px;
    }
    .testimonial h3 {
        font-size: 20px;
    }
    .testimonial h4 {
        font-size: 18px;
    }
}
/* Testimonial CSS End */


/* Pricing CSS Start */
.pricing {
    padding: 100px 0;
}
.pricing .headline {
    max-width: 526px;
}
.pricing .item {
    padding: 30px;
}
.pricing .item h2 {
    font-size: 46px;
}
.pricing .item .image img {
    width: 100px;
}
.pricing .one {
    background-color: #4786ee;
}
.pricing .two {
    background-color: #ff7851;
}
.pricing .three {
    background-color: #8859e6;
}
@media screen and (max-width: 768px) {
    .pricing {
        padding: 60px 0;
    }
    .pricing .headline h1, .pricing .item h2 {
        font-size: 38px;
    }
    .pricing p, .pricing ul li {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    .pricing {
        padding: 38px 0;
    }
    .pricing .headline h1, .pricing .item h2 {
        font-size: 24px;
    }
    .pricing p, .pricing ul li {
        font-size: 12px;
    }
}
/* Pricing CSS End */


/* FAQ CSS Start */
.faq {
    padding: 100px 0;
    background-color: #4786ee1a;
}
.faq .accordion-item, .faq .accordion-button {
    background-color: #00000000 !important;
}
.faq .accordion-button:focus {
    box-shadow: none;
    border: 0;
    color: #000;
}
@media screen and (max-width: 768px) {
    .faq {
        padding: 60px 0;
    }
    .faq h1 {
        font-size: 38px;
    }
    .faq p, .faq .more, .faq .accordion-button, .faq .accordion-body {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    .faq {
        padding: 38px 0;
    }
    .faq h1 {
        font-size: 24px;
    }
    .faq p, .faq .more {
        font-size: 12px;
    }
    .faq .accordion-button, .faq .accordion-body {
        font-size: 10px;
    }
}
/* FAQ CSS End */


/* Contact Us CSS Start */
.contact {
    padding: 100px 0;
}
.contact .headline {
    max-width: 491px;
}
.contact .info {
    background-color: #ff7851;
    padding: 40px;
}
.contact .info .icon {
    width: 64px;
    height: 64px;
}
.contact form {
    background-color: #4786ee4d;
    padding: 27px;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 60px 0;
    }
    .contact .headline h1 {
        font-size: 38px;
    }
    .contact .headline p, .contact .info p, .contact form .input_group input, .contact form .input_group textarea {
        font-size: 14px;
    }
    .contact .info h5 {
        font-size: 16px;
    }
    .contact .info {
        padding: 36px;
    }
    .contact .info .icon {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 38px 0;
    }
    .contact .headline h1 {
        font-size: 24px;
    }
    .contact .headline p, .contact .info p, .contact form .input_group input, .contact form .input_group textarea {
        font-size: 12px;
    }
    .contact .info h5 {
        font-size: 14px;
    }
    .contact .info {
        padding: 28px;
    }
    .contact .info .icon {
        width: 46px;
        height: 46px;
    }
}
/* Contact Us CSS End */