*,*::after,*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.body {
    font-family: "Urbanist", sans-serif;
}
.gray {
    color: #35404e !important;
}
.orange {
    color: #ff7851;
}
.btn_one a {
    background-color: #4786ee;
}
.btn_two {
    border: 1px solid #000;
    width: 33px;
    height: 33px;
    transition: 0.4s;
}
.btn_two span {
    transition: 0.4s;
}
.btn_two:hover {
    width: 130px;
}
.btn_two:hover span {
    display: block !important;
}
.btn_three a {
    background-color: #0000000d;
}
.btn_four {
    background-color: #ffffff20;
    transition: 0.4s;
}
.btn_four:hover {
    background-color: #ffffff40;
}


/* Navigation CSS Start */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 10px 0 #0000003b;
}
@media screen and (max-width: 768px) {
    .navbar .nav-link {
        border-bottom: 1px solid #ddd;
    }
    .navbar .nav-link, .btn_one a {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    .navbar .nav-link, .btn_one a {
        font-size: 12px;
    }
}
/* Navigation CSS End */