*,*::after,*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.body {
    font-family: "Urbanist", sans-serif;
}
.gray {
    color: #35404e !important;
}
.orange {
    color: #ff7851 !important;
}
.btn_one a {
    background-color: #4786ee;
    transition: 0.4s;
}
.btn_one a:hover {
    background-color: #222;
}
.btn_two {
    border: 1px solid #000;
    width: 33px;
    height: 33px;
    transition: 0.4s;
}
.btn_two span {
    transition: 0.4s;
}
.btn_two:hover {
    width: 130px;
}
.btn_two:hover span {
    display: block !important;
}
.btn_three a {
    background-color: #0000000d;
}
.btn_four {
    background-color: #ffffff20;
    transition: 0.4s;
}
.btn_four:hover {
    background-color: #ffffff40;
}


/* Navigation CSS Start */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 10px 0 #0000003b;
}
@media screen and (max-width: 768px) {
    .navbar .nav-link {
        border-bottom: 1px solid #ddd;
    }
    .navbar .nav-link, .btn_one a {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    .navbar .nav-link, .btn_one a {
        font-size: 12px;
    }
}
/* Navigation CSS End */


/* Footer CSS Start */
footer {
    padding: 100px 0 0;
    background: linear-gradient(45deg, rgba(255, 120, 81, .25) 0%, rgba(71, 134, 238, 0.25) 100%);
}
footer .socials li a {
    width: 38px;
    height: 38px;
    transition: 0.4s;
    border: 1px solid #bbb;
    font-size: 18px !important;
}
footer .socials li a:hover {
    background-color: #fff;
    color: #222 !important;
}
footer .links li a, footer .copyright a {
    transition: 0.4s;
}
footer .links li a:hover, footer .copyright a:hover {
    color: #ff7851 !important;
}
footer .info .item .icon {
    color: #4786ee;
}
footer .copyright {
    border-top: 1px solid #bbb;
    padding: 26px 0;
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    footer {
        padding: 60px 0 0;
    }
    footer p, footer a, footer li {
        font-size: 14px !important;
    }
    footer .copyright {
        padding: 20px 0;
    }
}
@media screen and (max-width: 576px) {
    footer {
        padding: 38px 0 0;
    }
    footer p, footer a, footer li {
        font-size: 12px !important;
    }
    footer .copyright {
        padding: 18px 0;
    }
}
/* Footer CSS End */