/* Header CSS Start */
header {
    background: url(../images/header/3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0 30px;
}
header h1 {
    font-size: 58px;
}
header .category p {
    font-size: 14px;
}
header .image {
    max-width: 400px;
}
header .image img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 38px;
    }
    header p {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 576px) {
    header {
        padding: 120px 0 50px;
    }
    header p {
        font-size: 12px !important;
    }
}
/* Header CSS End */


/* Services CSS Start */
.service {
    padding: 100px 0;
}
.service .item {
    padding: 40px;
}
.service .item .icon {
    width: 82px;
    height: 82px;
}
.service .item .icon img {
    width: 62px;
}
.service .one {
    background-color: #4786ee33;
}
.service .one .icon {
    background-color: #4786ee;
}
.service .two {
    background-color: #ff785133;
}
.service .two .icon {
    background-color: #ff7851;
}
.service .three {
    background-color: #8859e633;
}
.service .three .icon {
    background-color: #8859e6;
}
@media screen and (max-width: 768px) {
    .service {
        padding: 60px 0;
    }
    .service h3 {
        font-size: 22px;
    }
    .service p {
        font-size: 14px;
        line-height: 24px !important;
    }
    .service .item {
        padding: 30px;
    }
}
@media screen and (max-width: 576px) {
    .service {
        padding: 38px 0;
    }
    .service h3 {
        font-size: 18px;
    }
    .service p {
        font-size: 12px;
        line-height: 20px !important;
    }
    .service .item {
        padding: 28px;
    }
}
/* Services CSS End */


/* About Us CSS Start */
.about {
    padding: 100px 0;
    background-color: #4786ee1a;
}
.about ul li i, .about p {
    color: #4786ee;
}
@media screen and (max-width: 768px) {
    .about {
        padding: 60px 0;
    }
    .about h1 {
        font-size: 38px;
    }
    .about p, .about ul li {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    .about {
        padding: 38px 0;
    }
    .about h1 {
        font-size: 24px;
    }
    .about p, .about ul li {
        font-size: 12px;
    }
}
/* About Us CSS End */


/* Contact Us CSS Start */
.contact {
    padding: 100px 0;
}
.contact .headline {
    max-width: 491px;
}
.contact .info {
    background-color: #ff7851;
    padding: 40px;
}
.contact .info .icon {
    width: 64px;
    height: 64px;
}
.contact form {
    background-color: #4786ee4d;
    padding: 27px;
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 60px 0;
    }
    .contact .headline h1 {
        font-size: 38px;
    }
    .contact .headline p, .contact .info p, .contact form .input_group input, .contact form .input_group textarea {
        font-size: 14px;
    }
    .contact .info h5 {
        font-size: 16px;
    }
    .contact .info {
        padding: 36px;
    }
    .contact .info .icon {
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 768px) {
    .contact {
        padding: 38px 0;
    }
    .contact .headline h1 {
        font-size: 24px;
    }
    .contact .headline p, .contact .info p, .contact form .input_group input, .contact form .input_group textarea {
        font-size: 12px;
    }
    .contact .info h5 {
        font-size: 14px;
    }
    .contact .info {
        padding: 28px;
    }
    .contact .info .icon {
        width: 46px;
        height: 46px;
    }
}
/* Contact Us CSS End */